@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

* {
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Inter', sans-serif;
	line-height: 1.2;
	background-color: #000;
	color: #fff;
	max-width: 1200px;
	margin: 20px auto;
}

header {
	height: 100vh;
	line-height: 1.7;
	align-items: center;
	display: flex;
}

header .header-content h1 {
	text-align: justify;
}

.light-header {
	font-weight: 300;
	opacity: 0.5;
}

a {
	text-decoration: none;
	color: #fff;
}

.header-links {
	font-weight: 200;
	font-style: italic;
	font-size: 20px;
}

/* Works */

#works {
	padding: 10px 0;
	height: 100vh;
}

.caption-lg {
	margin-bottom: 20px;
	font-size: 40px;
	font-weight: 300;
}

.works-content .works-items {
	display: flex;
	justify-content: space-between;
	line-height: 1.4;
	margin-bottom: 10px;
}

.works-content .works-items .works-items-info .works-title {
	font-size: 25px;
}

.works-content .works-items .works-items-info {
	opacity: 0.5;
}

.works-content .works-items img {
	display: none;
}

.works-content .works-items .works-items-info .works-links a:hover {
	opacity: 0.5;
}

.works-content .works-items .works-items-info .works-techs {
	font-style: italic;
	font-weight: 200;
	font-size: 15px;
}

.works-content .works-items .works-items-info:hover {
	opacity: 1;
	transition: 0.2s;
}

.works-content .works-items:hover img {
	display: block;
	height: 100px;
	margin-top: -50px;
	width: 200px;
	margin-right: 200px;
	opacity: 0.7;
}

/* Skills */

#skills {
	height: 100vh;
}

#skills .skills-content {
	opacity: 0.5;
}

#skills .skills-content p {
	font-size: 18px;
	font-style: italic;
	line-height: 1.4;
	margin-bottom: 10px;
}

/* media query */

@media (max-width: 480px) {
	header {
		line-height: 1;

		font-size: 16px;
		padding: 20px;
	}

	header .header-content h1 {
		text-align: left;
	}

	header .header-content .light-header {
		display: none;
	}

	#works {
		padding: 20px;
		margin-bottom: 200px;
	}

	.works-content .works-items:hover img {
		display: none;
	}

	#skills {
		padding: 20px;
		margin-bottom: 200px;
	}
}
